/* GERAL */
div.flex{
    display: flex;
}

div.container{
    width: 100%;
    margin:0 auto;
    padding: 30px;
} 
/* GERAL */

/* CLASSE-DA-FUNÇÃO-MENU-OPEN */
.menu--close{
    visibility: collapse;
    transition: 200ms;
}
i.fa-arrow-circle-down{
    opacity: 0%;
    transition: 1800ms ease-in-out;
}
.abrir-submenu:hover>.fa-arrow-circle-down{
    opacity: 100%;
}
span{
    cursor: pointer;
}
span:hover{
    color: var(--menu-hover);
}
/* CLASSE-DA-FUNÇÃO-MENU-OPEN */

/* BODY */
body{
    font-family: var(--font-geral);
    background-color: var(--bg-body);
}
/* BODY */
  
/* HEADER */
header{
    Background: linear-gradient(to bottom, rgba(0,0,0,.7) 10%, rgba(0,0,0,0));
    position: absolute;
    top: 20px;
    width: 100%;
    transform: translateY(-40px);
}

header .container .flex{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

header .logo figure img{
    width: 70px;
}

header .logo .hidden{
    text-indent: -99999px;
}

/*icon-pequisar-aparecer-no-desktop*/
header .pesquisar{
    visibility: collapse;
}

header .usuario img{
    width: 28px;
    border-radius: 5px;
}

header nav{
    color: var(--menu-active);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
}

header nav .menu--area li{
    padding-top: 10px;
}

header nav a{
    text-transform: capitalize;
    text-decoration-line: none;
    text-align: start;
    color: var(--menu-active);
    font-size: 14px;
}
/* HEADER */

/* SEÇÃO DESTAQUE */
main .secao-destaque{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    display: flex;
    justify-content: start;
    align-items: center;  
}

main .secao-destaque .container{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
}

main .secao-destaque-conteudo{
    height: inherit;
    overflow: hidden;
    padding: 10px;
    width: 90%;
}

main .secao-destaque-conteudo figcaption{
   color: var(--menu-active);
   font-weight: 600;
   margin-bottom: 10px;
   text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}

main .secao-destaque-conteudo figure img{
    max-width: 160px;
}

main .secao-destaque-conteudo>p{
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    color: var(--menu-active);
    font-size: 12px;
}

main .secao-destaque-buttons button{
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    margin:10px 5px;
}

main .secao-destaque-buttons .mais-informacoes{
    Background: rgba(109,109,110,0.7);
    color: var(--menu-active);
}

main .secao-destaque-buttons .mais-informacoes:hover{
    background-color: rgba(109,109,110,0.4);
}

main .secao-destaque-buttons .assistir{
    background-color: var(--menu-active);
    color: #000000;
}

main .secao-destaque-buttons .assistir:hover{
    background-color: rgba(255,255,255,0.75);
}
/* SEÇÃO DESTAQUE */

/* SEÇÃO CATALOGO */
section#secao-continuar-assistindo{
    background: linear-gradient(to bottom,rgba(20,20,20,0) 0,rgba(20,20,20,.15) 15%,rgba(20,20,20,.35) 29%,rgba(20,20,20,.58) 44%,#141414 68%,#141414 100%);
}

section.secao-catalogo .container{
    display: inline-flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

section.secao-catalogo .secao-catalogo-titulo{
    color: var(--menu-color);
    font-size: 17px;
    align-self: start;
    margin-bottom: 5px;
}

section.secao-catalogo .container .flex{
    display: grid;
    grid-template-columns: 50% 50%;
}

section.secao-catalogo .flex-column a{
    width: 50vw;
}

section.secao-catalogo .flex-column figure{
    padding:0 2px;
    width: 100%;
}

section.secao-catalogo .flex-column figure img{
    width: inherit;
    border-radius: 5px;
}

section.secao-catalogo .flex-column .hidden{
    display: none;
}
/* SEÇÃO CATALOGO */


/* FOOTER */
footer{
    border-top: 1px solid rgb(128 128 128 / 26%);
    color: gray;
}

footer .container{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin:0 auto;
    background: #000;
}

footer .flex{
    display: flex;
    flex-flow: column;
    text-align: center;
}

footer .flex-column{
    display: inline;
}

footer .flex ul{
    text-align: center;
}

footer .flex ul>li{
   padding: 10px;
}

footer nav a{
    color: gray;
    text-decoration: none;
    font: 13px;
}

footer .redes-sociais{
    display: inline-flex;
    justify-content: space-evenly;;
    width: 90%;
}

footer .redes-sociais li a img{
    width: 20px;
}

footer .copyright p{
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
}

footer .copyright a{
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    color: gray;
}
/* FOOTER */


/* ZOOM */
.zoom{
    -moz-transition: all .9s;
    -webkit-transition: all .9s;
    transition: all .9s;
}
.zoom:hover{
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 97%;
}
/* zoom */

/* EXTRAS */

/* para estilizar a scrollbar */
::-webkit-scrollbar{
    background: rgba(12, 10, 10, 0.658);
}
::-webkit-scrollbar-button{
    background-color: rgb(53, 52, 52);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(48, 53, 48);
}
/* EXTRAS */
  

/* MEDIA QUERIES */

@media screen and (min-width: 800px) {
    
    .menu--close{
        visibility: visible;
    }
    
    header{
        font-size: 14px;
    }
    
    header .logo figure img{
        max-width: 92px;
    }
    
    header .usuario img{
        width: 32px;
    }
    
    header nav{
        width: 60vw;
        flex-flow: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    header nav ul a{
        color: var(--menu-color);
    }
    
    header nav ul a:hover{
        color: var(--menu-hover);
    }
    
    header nav ul a:active{
        color: var(--menu-active);
    }
    
    header nav span{
        display: none;
    }
    
    /*icon-pequisar-aparecer-no-desktop*/
    header .pesquisar{
        visibility: visible;
    }
    
    main .secao-destaque-conteudo>p{
        padding-right: 200px;
    }
    
    /*menu-lista-aparecer-no-desktop*/
    header nav .menu--area{
        display: inline-flex;
    }
    
    header nav .menu--area li{
        margin-right: 20px;
    }
    
    main .secao-destaque-conteudo figcaption{
        font-size: 26px;
    }
    
    main .secao-destaque-conteudo figure img{
        max-width: 650px;
        width: 220px;
    }
    
    main .secao-destaque-conteudo p{
        color: var(--menu-active);
        font-size: 26px;
        text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    }
    
    main .secao-destaque-buttons button{
        font-size: 22px;
    }
    
    section.secao-catalogo .secao-catalogo-titulo{
        font-size: 26px;
    }
    
    section.secao-catalogo .flex-column a{
        max-width: 287px;
    }
    
    img{
        max-width: 800px;
    }
    
    div.pagina-inicial{
        max-width: 1735px;
        padding: 60px;
    }
    
    section.secao-catalogo .container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    section.secao-catalogo .container .flex{
        display: flex;
        width: 100%;
    }
    
    section.secao-catalogo .flex-column a{
        max-width: 287;
    }
    
    section.secao-catalogo .flex-column figure{
        padding:0 2px;
        width: 100%;
    }
    
    section.secao-catalogo .flex-column figure img{
        max-width: 287px;
        border-radius: 5px;
    }
    
    footer .redes-sociais {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    footer .flex ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    
}
/* MEDIA QUERIES */